<!-- TODO: Revisar la razón por qué no funciona el autoplay, por paramtro y ver la posibilidad de quitar el intervalo -->
<swiper 
    #swiper 
    [spaceBetween]="5000"
    [centeredSlides]="true"
    [autoplay]="{delay: 4500 ,disableOnInteraction: false, pauseOnMouseEnter: false}"
    [speed]="1500"
    [lazy]="true"
    [loop]="true"
    [navigation]="false"
    [pagination]="{dynamicBullets: true, clickable: true}" 
    [effect]="'fade'"
    class="mySwiper">
    <ng-template swiperSlide *ngFor="let slide of slideDeck; let i = index">
        <!-- <img data-src="{{uri}}{{slide.imagen}}" alt=""> -->
        <span *ngIf="slide.enlace">
            <img data-src="{{uri}}{{slide.imagen}}"  class="swiper-lazy" alt="" [routerLink]="['/'+slide.enlace]" [queryParams]="{ html: slide.html, titulo: slide.titulo_html }" />
        </span>
        <span *ngIf="!slide.enlace">
            <img data-src="{{uri}}{{slide.imagen}}"  class="swiper-lazy" alt="" />
        </span>
        <p>{{ slide.titulo }}</p>
    </ng-template>
    </swiper>
<!-- 
    [pagination]="{type: 'progressbar', progressbarOpposite: true}"
    [direction]="'horizontal'" 
    [loopFillGroupWithBlank]="true"
-->