<ng-container *ngIf="negocio !== undefined && producto !== undefined">
    <app-menu-categorias idNegocio="{{negocio.nombre}}" menuId="negocio-portada"></app-menu-categorias>
    <app-cabecera titulo="{{negocio.nombre}}" *ngIf="negocio != undefined"></app-cabecera>
    <ion-content id="main-content">
        <ion-card *ngIf="producto != undefined">
            <ion-card-header>
                <ion-card-title class="ion-text-center"> {{producto.nombre}}</ion-card-title>
                <ion-card-subtitle>
                    <app-galeria-producto #galeria [producto]="producto"></app-galeria-producto>
                </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <!-- TODO:Estrellas -->
                <ion-text color="tertiary" class="ion-text-end">
                    <h2>
                        <ion-icon color="warning" slot="start" name="star"></ion-icon>
                        <ion-icon color="warning" slot="start" name="star"></ion-icon>
                        <ion-icon color="warning" slot="start" name="star"></ion-icon>
                        <ion-icon color="warning" slot="start" name="star"></ion-icon>
                        <ion-icon color="warning" slot="start" name="star"></ion-icon>
                    </h2>
                </ion-text>
                <ion-text color="dark" class="ion-text-justify" class="ion-padding">
                    <h2> {{producto.descripcion}}</h2>
                </ion-text>
            </ion-card-content>
        </ion-card>
        <app-menu-categorias #menu idNegocio="{{negocio.nombre}}" menuId="negocio-portada"></app-menu-categorias>
        <ion-card>
            <ion-card-content class="ion-no-padding ion-padding-top">
                <ion-text color="primary" class="ion-text-center">
                    <h2 *ngIf="producto.tipo_de_producto=='Configurable'">¿Cómo te gustaría?</h2>
                    <h2 *ngIf="producto.tipo_de_producto=='Con variantes'">¿Cómo te gustaría?</h2>
                </ion-text>
                <ion-grid fixed>
                    <ion-row>
                        <ion-col size="12" id="Descripcion">
                            <!-- {{producto.descripcion_html}} -->
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="producto.tipo_de_producto == 'Configurable' && producto.configuracion != undefined">
                        <ion-col size="12">
                            <ion-item color="light">
                                <ion-label>Precio base</ion-label>
                                <ion-label slot="end">{{producto.precio | currency}}</ion-label>
                            </ion-item>
                            <ion-item color="light"
                                *ngFor="let atr of ProductoConfigurable_Configuraciones; let i = index;trackBy:trackByIdx">
                                <ng-container *ngIf="atr.valores.length > 2">
                                    <ion-label>
                                        <p><b>{{atr.atributo}}</b></p>
                                        <p>
                                            {{ ProductoConfigurable_Configuraciones[i].seleccion != '0' ? '+ ':
                                            ''}}
                                            {{ ProductoConfigurable_Configuraciones[i].seleccion | currency }}
                                        </p>
                                    </ion-label>
                                    <ion-select placeholder=""
                                        [(ngModel)]="ProductoConfigurable_Configuraciones[i].seleccion"
                                        (ionChange)="ConfiguracionModificada($event)">
                                        <ion-select-option *ngFor="let item of atr.valores" value="{{item.costo}}">
                                            {{item.valor}}
                                            {{item.costo == 0 ? '' : '+ '+ (item.costo | currency) }}
                                        </ion-select-option>
                                    </ion-select>
                                </ng-container>
                                <ng-container *ngIf="atr.valores.length == 2">
                                    <ion-label>
                                        <p><b>{{atr.atributo}}</b></p>
                                        <p *ngIf="!ProductoConfigurable_Configuraciones[i].seleccion">{{ 0 |
                                            currency }}</p>
                                        <p *ngIf="ProductoConfigurable_Configuraciones[i].seleccion">
                                            {{atr.valores[0].costo == 0 ? (atr.valores[1].costo | currency) :
                                            '+ '+ (atr.valores[0].costo | currency) }}</p>
                                    </ion-label>
                                    <ion-toggle [(ngModel)]="ProductoConfigurable_Configuraciones[i].seleccion"
                                        aria-checked="false" (ionChange)="ConfiguracionModificada($event)">
                                    </ion-toggle>
                                </ng-container>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="producto.tipo_de_producto == 'Con variantes'">
                        <ion-col size="12">
                            <ion-item *ngIf="producto.valores_atributo1.length > 0" color="light">
                                <ion-label>{{producto.atributo1}}</ion-label>
                                <ion-select [(ngModel)]="variante1" placeholder=""
                                    (ionChange)="verificarVariable($event)">
                                    <ion-select-option *ngFor="let item of producto.valores_atributo1"
                                        value="{{item.valor_variante}}">{{item.valor_variante}}
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                            <ion-item *ngIf="producto.valores_atributo2.length > 0" color="light">
                                <ion-label>{{producto.atributo2}}</ion-label>
                                <ion-select [(ngModel)]="variante2" placeholder=""
                                    (ionChange)="verificarVariable($event)">
                                    <ion-select-option *ngFor="let item of producto.valores_atributo2"
                                        value="{{item.valor_variante}}">{{item.valor_variante}}
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                            <ion-item *ngIf="producto.valores_atributo3.length > 0" color="light">
                                <ion-label>{{producto.atributo3}}</ion-label>
                                <ion-select [(ngModel)]="variante3" placeholder=""
                                    (ionChange)="verificarVariable($event)">
                                    <ion-select-option *ngFor="let item of producto.valores_atributo3"
                                        value="{{item.valor_variante}}">{{item.valor_variante}}
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                            <ion-item *ngIf="producto.valores_atributo4.length > 0" color="light">
                                <ion-label>{{producto.atributo4}}</ion-label>
                                <ion-select [(ngModel)]="variante4" placeholder=""
                                    (ionChange)="verificarVariable($event)">
                                    <ion-select-option *ngFor="let item of producto.valores_atributo4"
                                        value="{{item.valor_variante}}">{{item.valor_variante}}
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="producto.activo == 1">
                        <!--*ngIf="producto.tipo_de_producto == 'Simple'" -->
                        <ion-col size="12">
                            <ion-item color="light">
                                <ion-label>Precio unitario: </ion-label>
                                <ion-label slot="end">{{precio | currency}}</ion-label>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="!sePuedeComprar">
                        <ion-col size="12">
                            <ion-item color="medium" class="ion-text-wrap ion-text-center">
                                <ion-label class="ion-text-wrap" *ngIf="producto.tipo_de_producto=='Simple'">Parece que
                                    llegaste tarde, el producto se agotó!</ion-label>
                                <ion-label class="ion-text-wrap" *ngIf="producto.tipo_de_producto!='Simple'">La
                                    configuración actual no tiene existencias, intenta cambiar algo.</ion-label>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
        <ion-card *ngIf="sePuedeComprar">
            <ion-card-content class="ion-no-padding ion-padding-top">
                <ion-text color="primary" class="ion-text-center">
                    <h2>¿Cuántos necesitas?</h2>
                </ion-text>
                <ion-grid fixed>
                    <ion-row>
                        <ion-col size="12">
                            <ion-item color="light">
                                <ion-button (click)="restar()" slot="start" fill="solid" color="danger">
                                    <ion-icon slot="icon-only" name="remove"></ion-icon>
                                </ion-button>
                                <ion-item color="light">
                                    <ion-input type="number" min=0 max=1000 [(ngModel)]="cantidadParaAgregar"
                                        (change)="cantidadModificada($event)"></ion-input>
                                    <ion-select [(ngModel)]="uom" placeholder="uom" disabled="true">
                                        <ion-select-option value="pieza">pieza</ion-select-option>
                                    </ion-select>
                                </ion-item>
                                <ion-button
                                    *ngIf="producto.tipo_de_producto == 'Con variantes' && variante != undefined ? variante.stockMaximo != cantidadParaAgregar : producto.stockMaximo != cantidadParaAgregar"
                                    (click)="agregar()" slot="end" fill="solid" color="secondary">
                                    <ion-icon slot="icon-only" name="add"></ion-icon>
                                </ion-button>
                            </ion-item>
                            <ion-item color="light">
                                <ion-label>Total: </ion-label>
                                <ion-label slot="end">{{precio * cantidadParaAgregar | currency}}</ion-label>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12">
                            <ion-item color="light">
                                <ion-label>Comentarios</ion-label>
                                <ion-textarea></ion-textarea>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12" class="ion-text-center">
                            <ion-row class="ion-no-padding">
                                <ion-col size="6" class="ion-no-padding">
                                    <ion-button (click)="eliminarDelCarrito()" color="warning" fill="solid"
                                        disabled="{{!estaEnCarrito}}" expand="block">
                                        <ion-text>Eliminar</ion-text>
                                    </ion-button>
                                </ion-col>
                                <!-- <ion-col size="4" class="ion-no-padding">
                                    <ion-button (click)="actualizarProductoEnCarrito()" color="secondary" fill="solid" disabled="{{!estaEnCarrito}}" expand="block">
                                        <ion-text>Actualizar</ion-text>
                                    </ion-button>
                                </ion-col> -->
                                <ion-col size="6" class="ion-no-padding">
                                    <ion-button (click)="agregarACarrito()" color="primary" fill="solid"
                                        disabled="{{cantidadParaAgregar == 0}}" expand="block">
                                        <ion-text *ngIf="estaEnCarrito && producto.tipo_de_producto != 'Configurable'">Actualizar</ion-text>
                                        <ion-text *ngIf="!estaEnCarrito || producto.tipo_de_producto == 'Configurable'">Añadir</ion-text>
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content class="ion-no-padding ion-padding-top  ion-padding-bottom">
                <ion-text color="primary" class="ion-text-center">
                    <h2>Reseñas de otros clientes</h2>
                </ion-text>
                <!-- TODO: Reseñas de  producto -->
                <ion-item class="clear">
                    <ion-avatar slot="start">
                        <img alt="Silhouette of a person's head"
                            src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                    </ion-avatar>
                    <ion-label>
                        <h3>Titulo</h3>
                        <p>
                            <ion-icon color="warning" slot="start" name="star"></ion-icon>
                            <ion-icon color="warning" slot="start" name="star"></ion-icon>
                            <ion-icon color="warning" slot="start" name="star"></ion-icon>
                            <ion-icon color="warning" slot="start" name="star"></ion-icon>
                            <ion-icon color="warning" slot="start" name="star-half"></ion-icon>
                        </p>
                        <p>Descripcion</p>
                    </ion-label>
                </ion-item>
            </ion-card-content>
        </ion-card>
    </ion-content>
    <app-footer-carrito negocioActual="{{negocio.nombre}}" menuId="menu-producto"></app-footer-carrito>
</ng-container>