<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button *ngIf="this.router.url != '/home'" default-href="#" (click)="regresar()" text=""></ion-back-button>
        </ion-buttons>
        <ion-title>{{titulo}}</ion-title>
        <ion-buttons slot="end">
            <ion-button *ngIf="!sesion.activo && this.router.url != '/inicio-de-sesion' && this.router.url != '/registro-de-usuario'" (click)="irAInicioDeSesion()">
                <ion-icon slot="icon-only" name="person-circle"></ion-icon>
            </ion-button>
            <ion-button *ngIf="sesion.activo" (click)="irAPerfil()"  color="primary">
                <ion-icon *ngIf="!sesion.perfil.user_image"  slot="icon-only" name="person-circle"></ion-icon>
                <img *ngIf="sesion.perfil.user_image" class="foto-perfil" src="{{uri}}{{sesion.perfil.user_image}}">
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>