<app-cabecera titulo="Bienvenido"></app-cabecera>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="12" size-md="10" size-lg="8">
        <!-- banner 1 -->
          <app-img-slideshow 
            [autoPlay]="true" 
            [slideDeck]="ConfiguracionGlobal.banner_principal">
            </app-img-slideshow>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="12" size-md="8" size-lg="8">
        <!-- modulos -->
        <app-modulo [modulos]="modulos"></app-modulo>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!-- banner 2 -->
        <ion-col size="12" size-sm="12" size-md="10" size-lg="8">
            <!-- banner 1 -->
              <app-img-slideshow 
                [autoPlay]="false" 
                [slideDeck]="ConfiguracionGlobal.banner_secundario">
                </app-img-slideshow>
          </ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
